pipeline/Wilhelmsen variables.json
{
	"name": "Wilhelmsen variables",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Files",
					"value": [
						"colors",
						"inventories",
						"inventory_parts",
						"part_categories",
						"parts",
						"sets",
						"themes"
					]
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.ListAllFiles",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Files",
								"value": "inventory_sets"
							}
						},
						{
							"name": "Append variable2",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Append variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Files",
								"value": "part_relationships"
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ListOfFiles",
								"value": {
									"value": "Load @length(variables('ListOfFiles')) files @join(variables('Files'),',')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ListAllFiles": {
				"type": "bool"
			}
		},
		"variables": {
			"Files": {
				"type": "Array"
			},
			"ListOfFiles": {
				"type": "String"
			}
		},
		"annotations": []
	}
}